:root {
    --cor-principal: #000000;
    --cor-secundaria: #00C896; 
    --cor-texto-claro: #F0F0F0; 
    --cor-texto-escuro: #333333; 
    --cor-borda: #1a1a1a; 
    --cor-card-fundo: #111111;
}

/* Geral */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--cor-principal);
    color: var(--cor-texto-claro);
    line-height: 1.6;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
}