.content {
    margin-left: 280px;
    flex-grow: 1;
    padding: 60px 40px;
    box-sizing: border-box;
    transition: margin-left 0.3s ease-in-out;
}

.home-section, .cursos-section, .projetos-section {
    padding-bottom: 60px;
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        padding: 20px;
        width: 100%;
    }
}