footer {
    background-color: var(--cor-borda);
    color: var(--cor-texto-claro);
    text-align: center;
    padding: 25px 0;
    margin-top: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}