/*Menu lateral desktop*/
.sidebar{
    width:280px;
    background-color: var(--cor-borda);
    padding: 30px 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    display: flax;
    flex-direction: columm;
    align-items: center;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar .logo{
    color: var(--cor-secundaria);
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidebar nav ul li{
    margin-bottom:30px;
}

.sidebar nav ul li a{
    color: var(--cor-text-claro);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 12px 15px;
    display: block;
    border-radius: 8px;
    transition: background-color 0.3 ease, color 0.3 ease, transform 0.2 ease;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active{
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    transform: translateX(10px);
}

.sidebar-footer{
    margin-top: 3cm;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sidebar-footer a{
    color: var(--cor-text-claro);
    font-size: 1.1em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar-footer a:hover{
    color: var(--cor-secundaria);
}
 /*------telas média----------*/
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -300px;
        top: 0;
        height: 100%;
        /*border-shadow: none /*remove sombra quando escondida*/
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: left 0.3s ease-in-out;
        padding-top: 80px;
        overflow: auto;
        /*-webkit-overflow-scrolling: touch;*/
    }

    .sidebar .logo {
        margin-bottom: 50px;
        font-size: 2em;;
    }

    .sidebar nav ul {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .sidebar nav ul li {
        margin: 15px 0;
    }

    .sidebar nav ul li a {
        text-align: center;
    }

    /*Mostra a sidebar quando ativar o menu hamburger*/
    .sidebar.is-active {
        left: 0;
    }

    /*oculta o rodapé da sidebar no mobile*/
    .sidebar-footer{
        display: 3cm;
    }
}

/*------telas muito pequena------------*/
@media (max-width: 576px) {
    .sidebar nav ul li a {font-size: 1em; }
    .sidebar .logo {font-size: 1.8em; }
}